<script lang="ts">
export default {
  props: {
    card: {
      type: Object,
      required: true,
      default: null,
    },
  },
};
</script>

<template>
  <a
    class="link-card"
    :href="card.url"
    :data-ga-name="card.data_ga_name"
    :data-ga-location="card.data_ga_location"
  >
    <div v-if="card.icon" class="image-container">
      <SlpIcon
        v-if="card.icon"
        :name="card.icon.name"
        :alt="card.icon.alt"
        :variant="card.icon.variant"
        :hex-color="card.icon.hex_color"
        size="lg"
      />
    </div>
    <SlpTypography tag="h3" variant="heading3">{{ card.title }}</SlpTypography>
    <SlpTypography tag="p">{{ card.description }}</SlpTypography>
  </a>
</template>

<styles lang="scss" scoped>
.link-card {
  background: $color-surface-50;
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 40px $spacing-24;
  width: 100%;
  margin-bottom: $spacing-16;
  max-width: 350px;
  min-width: 320px;
  border-radius: 16px;
  transition: all 0.3 ease-in-out;

  &:hover {
    box-shadow: $shadow-surface-primary-3;
  }

  @media (max-width: $breakpoint-sm) {
    margin-bottom: 0;
    max-width: 100%;
  }

  h3 {
    margin: $spacing-16 0 $spacing-24 0;
    color: $color-text-300;
  }

  p {
    color: $color-text-300;
    font-size: $font-size-default;
    line-height: $line-height-default;
    margin-bottom: $spacing-24;
  }

  span {
    font-weight: $font-weight-bold;
    color: $color-text-300;
    display: flex;
    align-items: center;

    svg {
      margin-left: 12px;
    }
  }

  .image-container {
    max-width: 50px;
    width: 100%;
    max-height: 50px;
    position: relative;
    height: 50px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .text:deep {
    p,
    ul {
      margin-bottom: $spacing-16;
    }

    li {
      margin-bottom: $spacing-8;
    }
  }
}
</styles>
